[submodule "mlibc"]
	path = mlibc
	url = https://github.com/managarm/mlibc.git
[submodule "busybox"]
	path = busybox
	url = https://git.busybox.net/busybox
[submodule "doomgeneric"]
	path = doomgeneric
	url = https://github.com/ozkl/doomgeneric.git
[submodule "quakegeneric"]
	path = quakegeneric
	url = https://github.com/erysdren/quakegeneric
[submodule "ncurses"]
	path = ncurses
	url = https://github.com/mirror/ncurses.git
[submodule "cmatrix"]
	path = cmatrix
	url = https://github.com/abishekvashok/cmatrix.git
